@import url("file:///home/neo/.config/theme/gen/colors.css"); /* palette: ~/.config/theme/palette */

window {
    margin: 0px;
    border: 2px solid @primary;
    background-color: @bg;
    border-radius: 0px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#input {
    margin: 10px;
    border: none;
    border-radius: 0px;
    background-color: @surface;
    color: @text;
    padding: 8px;
}

#inner-box {
    margin: 5px;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    background-color: transparent;
}

#entry {
    padding: 8px;
    border-radius: 0px;
    color: @primary;
}

#entry:selected {
    border-left: 10px solid @accent;
    background-color: @surface;
    color: @accent;
    text-shadow: 0 0 10px @accent;
}

#text {
    margin-left: 10px;
    text-shadow: 0 0 10px @primary;
}
