@import url("file:///home/neo/.config/theme/gen/colors.css"); /* palette: ~/.config/theme/palette */

window {
    margin: 0px;
    border: 2px solid @primary;
    background-color: @bg;
    border-radius: 0px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#input {
    margin: 10px;
    border: none;
    border-radius: 0px;
    background-color: @surface;
    color: @text;
    padding: 12px;
}

#inner-box {
    margin: 5px;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    background-color: transparent;
}

#entry {
    padding: 12px;
    border-radius: 0px;
    color: @primary;
}

#entry:selected {
    background-color: @surface;
    border-left: 10px solid @accent;
    color: @accent;
    text-shadow: 0 0 10px @accent;

}

#text {
    text-shadow: 0 0 10px @primary;
}

#scroll {
    margin: 0px;
    padding: 0px;
}
